/*Fontes importadas*/

/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Poppins', sans-serif;*/

/*PT Serif*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*font-family: 'PT Serif', serif;*/

/*Universal*/
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    width: 100%;
    height: 100vh;
    background-color: white;
}

h1, h3, h6, p{
    margin: 0%;
    margin-block: 0%;
}

/*FIM - Universal*/
/*Cabeçalho*/
header {
    width: 100%;
    height: 13vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho {
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.logo {    
    align-items: center;
    justify-content: center;
    display: flex;

    width: 250px;
    left: 80vh;

}

#foto {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#ON-OFF {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40px;
    height: 40px;
}

.icon {   
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30px;
    height: 30px;
}

#menu {

    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
}

#box {
    
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30%;
    height: 100%;

}

#botao {
       
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#box3 {   
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h4{
    margin: 0%;
}
/*FIM - Cabeçalho*/

/*Barra de Navegação*/

#box2 {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
    background-color: white;
}

#barra_navegacao {
    width: 90%;
    height: 6vh;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

ul {
    margin: 0%;
    width: 93%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

li {
    width: 100%;
    height: 100%;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.guia {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-right: 1px solid black;
    padding-left: 14px;
}

.guia:nth-last-child(1) {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-right: 0px solid black;
}

.guia:nth-child(1) {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px;
}

.menu-vertical{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    display: none;
}

#barra {
    display: flex;
    flex-direction: row;
  }
  
  hr {
    border: 2px solid #ffa500;
    width: 200px;
    border-radius: 50px;
  }

/*FIM - Barra de Navegação*/

/*Barra de Navegação Mobile*/

@media (max-width:800px) {
    .menu {
        height: 12vmax;
    }
}

@media (min-width:100px) and (max-width:1000px) {

    .conteudo {
        width: 95%;
    }

    .menu2 {
        width: fit-content;
    }

    #foto {
        width: 80%;
        display: inline;
    }

    .menu {
        height: 110px;
    }

    #box2 {
        display: none;
    }

    .menu-vertical {
        display: block;
        width: 100%;
        margin: auto;
        position: fixed;
        color: black;
        border-radius: 10px;
        height: 90px;
    }

    .topnav {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        display: flex;
        position: absolute;
        overflow: hidden;
        background-color: #D9D9D9;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        font-size: 30px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .topnav a.icon {
        background: #D9D9D9;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        height: 90px;
        background-color: #D9D9D9;
        color: aliceblue;
    }

    .active {
        color: #202022;
    }

    .imga {
        width: 80%;
    }

    .imgv {
        width: 40px;
    }

    .logo {
        width: 100%;
        height: 100%;
    }

    footer {
        width: 100%;
        height: fit-content;
    }
}

/*FIM - Barra de Navegação Mobile*/

/*Rodapé*/
footer {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: #D9D9D9;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 200px;
}

.details {
    height: 10vh;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.details h3 {
    font-family: 'PT Serif', serif;
    font-size: medium;
}

.details p {
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
/*FIM - Rodapé*/

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.bigmain{
    display: flex;
    height: 100%;
}


.sidebar{
    background-color: #262626;
    width: 25%;
    height: 100%;
}
.sidebarmain{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 90vh;
    justify-content: space-around;    
}
.iconessb img{
    transform: translateX(30%);
    height: 35px;
    width: 35px;
}
.iconessb{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 10%;
}
.sidebarmain p{
    padding-left: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    width: 100%;
}

.laranja{
    padding-left: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    width: 100%;
}

.laranja::after{
    content: " ";
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: orange;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.laranja:hover::after{
    width: 100%;
}

.voltar{
    padding-left: 10%;
    padding-top: 10%;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.voltar img{
    width: 28px;
    height: 28px;
}

.main{
    height: 100%;
    background-color: rgb(243, 249, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.busca{
    flex-direction: column;
    height: 60%;
    width: 100%;
}
.box4{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.box4 h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
}
#img22{
    transform: translateX(50px);
}
.formzin{
    display: flex;
    width: 45%;
    justify-content: space-evenly;
    align-items: center;
    background-color: gainsboro;
    height: 50px;
    border-radius: 20px;

}
.formzin img{
    width: 40px;
    height: 40px;
}
.formzin form{
    display: flex;
    align-items: center;
    background-color: gainsboro;
    width: 85%;
    height: 70%;
}
.formzin form input[type="text"] {
    background-color: gainsboro;
    border-color: transparent;
    height: 100%;
}

#textbusca{
    width: 100%;
}
.box5{
    padding: 50px 100px;
}
.box5 p{
    display: flex;

}

.resultados{
    padding-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-left: 20%;
    justify-content: flex-end;
    
}
.nomer{
    height:10%;
    padding-left: 30px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.atrib{
    color: gray;
    padding-left: 30px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.resultados img{
    width: 98px;
    height: 98px;
    border-radius: 75%;
}
.resultado1{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-left: 100px;
}

.textos{
    display: flex;
    flex-direction: column;
}

.botao{
    width: 100%;
    justify-content:flex-start;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

#botao2 {
    padding: 5px 10px;
    background-color: #D9D9D9;
    color: #000;
    border: none;
    cursor: pointer;
    width: 185px;
    height: 55px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#botao2:hover {
    background-color: #F3FBFB;
    transition: 0.5s ease-in-out;
  }

#botao1 {
    padding: 5px 10px;
    background-color: #084F8C;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 185px;
    height: 55px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#botao1:hover {
    background-color: #0b5799;
    transition: 0.5s ease-in-out;
  }

.botaoconfig {
    padding: 10px 5px 0px 1100px;
  }

h1 {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #00000098
  }

  #botao3 {
  margin-bottom: 10px;
  width: 95%;
  height: 6vh;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  border: none;
  }