/* Padrão do CSS implementado! */

/*Fontes importadas*/

/*Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*font-family: 'Poppins', sans-serif;*/

/*PT Serif*/
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*font-family: 'PT Serif', serif;*/

/*Universal*/

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: white;
}

main {
  display: flex;
  height: 80vh;
  background-color: #f3fbfb;
}
/*FIM - Universal*/

/*Cabeçalho*/

header {
  width: 90%;
  height: 13vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

body div {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  display: flex;
}

#cabecalho {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.logo {
  width: 250px;
  position: absolute;
  left: 80vh;
}

#foto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#ON-OFF {
  width: 40px;
  height: 40px;
}

.icon {
  width: 30px;
  height: 30px;
}

#menu {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
}

#box {
  width: 30%;
  height: 100%;
}

#botao {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

#box3 {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*FIM - Cabeçalho*/

/*Barra de Navegação*/

#box2 {
  background-color: white;
}

#barra_navegacao {
  width: 80%;
  height: 6vh;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

ul {
  width: 93%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.guia li {
  width: 100%;
  height: 100%;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.guia {
  border-right: 1px solid black;
  padding-left: 14px;
}

.guia:nth-last-child(1) {
  border-right: 0px solid black;
}

.guia:nth-child(1) {
  padding: 10px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.link .icon {
  margin-right: 20px;
}

/*FIM - Barra de Navegação*/

#area_lateral {
  background-color: #262626;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#img {
  width: 100px;
  border-radius: 50%;
}

#imagem {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  color: white;
}

#imagem * {
  padding: 5px;
}

#imagem p {
  opacity: 0.4;
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
}

#seguidores {
  height: 120px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#seguidores h3 {
  padding: 10px;
}

#seguidores h3 {
  font-family: "PT Serif", serif;
}

table {
  width: 100%;
}

th:nth-child(1),
td:nth-child(1) {
  border-right: solid 1px white;
  padding: 5px;
}

#info {
  width: 95%;
  height: 45%;
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
}

#info * {
  padding: 5px;
}

#redesociais {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  padding: 10px;
}

a {
  cursor: pointer;
}

/* BIO, Skills, Entretenimento */

#area_principal {
  height: 70vh;
  width: 60%;
  padding: 20px;
}

#bio {
  background-color: #d9d9d9;
  width: 100%;
  height: 30%;
  border-radius: 30px;
  padding: 20px;
}

#skills {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

#hskill {
  margin-top: 20px;
  background-color: #d9d9d9;
  width: 50%;
  height: 100%;
  border-radius: 30px;
  padding: 30px;
  margin-right: 130px;
  display: flex;
  flex-direction: column;
}

#sskill {
  margin-top: 20px;
  background-color: #d9d9d9;
  width: 50%;
  height: 100%;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

#entret {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
}

#interesse {
  margin-top: 60px;
  background-color: #d9d9d9;
  width: 50%;
  border-radius: 30px;
  margin-right: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#hobbie {
  margin-top: 60px;
  background-color: #d9d9d9;
  width: 50%;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#interesse ul,
#hobbie ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
}

#interesse li,
#hobbie li {
  border-right: solid 1px#262626;
  padding-right: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
}

#interesse li:nth-last-child(2),
#hobbie li:nth-last-child(2) {
  border-right: 0;
}

.titulo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  position: relative;
  font-family: "Poppins", sans-serif;
}

#edit {
  position: absolute;
  right: 0px;
  width: 20px;
}

#hskill ul,
#sskill ul {
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#hskill li,
#sskill ul,
#bio p {
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
}

#hskill p,
#sskill p {
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
  opacity: 0.5;
}

.titulo ul {
  width: 100%;
}

/* FIM - BIO, Skills, Entretenimento */
/*Rodapé*/

#area_rodape {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  height: 10vh;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  display: flex;
  width: 200px;
}

.details {
  height: 10vh;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.details h3 {
  margin: 0%;
  font-family: "PT Serif", serif;
  font-size: medium;
}

.details p {
  margin: 0%;
  font-family: "Poppins", sans-serif;
  font-size: small;
}
/*FIM - Rodapé*/
